@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
}

body {
  background-color: #0B1437;
  color: #fff;
}

/* scrollbar */
::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-thumb { background: #1B254B; border-radius: 4px; }
::-webkit-scrollbar-track { background: #0B1437; }